.header {
  background-color: #0bd3d3;
  // min-height: 50px;
  padding: 30px 0;
  display: flex;
  justify-content: right;

  .hamburger-react {
    z-index: 99;
  }
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  visibility: hidden;

  &.open {
    visibility: visible;
  }

  &-list {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    list-style: none;
    background-color: $primary-color-red;
    transform: translateY(-100%);
    @include transition-ease;

    &.open {
      transform: translateY(0);
    }

    &__item {
      font-size: 2rem;
      padding: 2rem 0;
      font-weight: 300;
      text-transform: uppercase;
    }
  }
}
