// Home page css
.home-wrapper {
  @include all-page-wrapper();

  a {
    color: inherit;
  }
}

.name {
  font-size: 3rem;
  border-bottom: 2px solid black;
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;
  &-lastname {
    font-weight: 700;
    color: $primary-color-blue;
  }
}

// About page css
.about-wrapper {
  @include all-page-wrapper();
}

.about-main {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;

  &-title {
    font-size: 2rem;
    font-weight: 500;
    color: $primary-color-blue;
    text-align: left;
    padding-left: 1.5rem;
  }

  p {
    // media query here for fontsize
    font-size: 1rem;
    text-align: left;
    padding: 0.5rem 1.5rem;
  }

  .about-tech__content {
    margin-top: 1.5rem;
    padding: 0.5rem 1.5rem;
    text-align: left;

    span {
      display: inline-block;
      border-radius: 999px;
      padding: 0.25rem 0.75rem;
      font-size: 0.875rem;
      font-weight: 600;
      margin-right: 0.5rem;
      margin-bottom: 0.5rem;
      background-color: lightblue;
    }
  }
}

// Project page css
.project-wrapper {
  @include all-page-wrapper();
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  align-items: center;
}

// Contact page css
.contact-wrapper {
  @include all-page-wrapper();
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;

  .contact-content {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
  }
}
