@include media-md {
  // Header
  .header {
    padding: 0;
    height: 50px;

    .nav-container {
      display: flex;
      justify-content: space-between;

      .nav-list {
        position: relative;
        visibility: visible;
        transform: translateY(0);
        height: 100%;
        flex-flow: row wrap;
        width: 100%;
        background-color: transparent;
        justify-content: right;

        &__item {
          padding: 0 15px 0 0;
          font-size: 1.5rem;
          font-weight: 600;
        }
      }
    }

    a:hover,
    a.active {
      color: $primary-color-red;
    }
  }

  .hamburger-react {
    // visibility: hidden;
    display: none;
  }

  // Footer:
  .footer {
    .social-media {
      width: 15%;
    }
    .copy-right {
      width: 85%;
    }
  }
}

@include media-lg {
  // Footer:
  .footer {
    .social-media {
      width: 10%;
    }
    .copy-right {
      width: 90%;
    }
  }

  // Project page:
  .project-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }

  @include media-xl {
    .project-wrapper {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
