@include media-md {
  .header {
    padding: 0;
  }
  .hamburger-react {
    // visibility: hidden;
    display: none;
  }
  .nav {
    visibility: visible;
    &-list {
      display: flex;
      flex-flow: row nowrap;
      justify-content: right;
      transform: translateY(0);
      height: 50px;
      text-align: right;

      &__item {
        display: inline;
        padding: 0 1.5rem 0 0;
        font-size: 1.5rem;
      }
    }
  }
}
