// Variables
@import 'variables';

// Config
@import 'config';

// Layout
@import 'layout/header';
@import 'layout/footer';

// Util class
.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
}

// Home page css
.home-wrapper {
  // do media screen here
  width: 90%;
  margin: 0 auto;
  padding: 4rem;
}

.name {
  font-size: 3rem;
  border-bottom: 2px solid black;
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;
  &-lastname {
    font-weight: 700;
    color: $primary-color-blue;
  }
}
