// Variables
@import 'variables';

// Config
@import 'config';

// Components
@import 'components/header';
@import 'components/footer';
@import 'components/project-card';

// Responsive
@import 'responsive';

// Util class
.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
}

@mixin all-page-wrapper {
  // do media screen here
  width: 90%;
  margin: 0 auto;
  padding: 4rem 4rem 0;
  flex: 1 1 auto;
}

// Home page css
.home-wrapper {
  @include all-page-wrapper();
}

.name {
  font-size: 3rem;
  border-bottom: 2px solid black;
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;
  &-lastname {
    font-weight: 700;
    color: $primary-color-blue;
  }
}

// About page css
.about-wrapper {
  @include all-page-wrapper();
}

.about-main {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  padding-top: 4rem;

  &-title {
    font-size: 3rem;
    font-weight: 500;
    color: $primary-color-blue;
  }

  p {
    // media query here for fontsize
    font-size: 1rem;
    text-align: left;
    padding: 0.5rem 1.5rem;
  }

  .about-tech__content {
    margin-top: 1.5rem;
    padding: 0.5rem 1.5rem;

    span {
      display: inline-block;
      border-radius: 999px;
      padding: 0.25rem 0.75rem;
      font-size: 0.875rem;
      font-weight: 600;
      margin-right: 0.5rem;
      margin-bottom: 0.5rem;
      background-color: lightblue;
    }
  }
}

// Project page css
.project-wrapper {
  @include all-page-wrapper();
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  margin-bottom: 2rem;
}

// Contact page css
.contact-wrapper {
  @include all-page-wrapper();
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;

  .contact-content {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
  }
}
